
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    details 
    <form asp-controller="Details" asp-action="LoginOut" method="post">
        
        <div class="row">
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">退出</button>
            </div>
        </div>
    </form>
</body>
</html>
